[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/start/vim-polyglot"]
	path = pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/vendor/start/vim-oscyank"]
	path = pack/vendor/start/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank.git
